.git
.github
.claude
.cache
outputs
**/node_modules
**/vendor
**/dist
**/build
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.env
**/.env
*.log
*.md
